.contain {
  margin-top: 22px;
  margin-bottom: 12px;
}

.contain h3 {
  font-size: 36px;
  margin: 0;
  font-weight: 400;
}

.contain p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}
