.btn {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  color: #333533;
  font-size: 16px;
  column-gap: 5px;
  border-bottom: 1px solid white;
  transition: 0.3s ease-in-out;
  border: 1px solid #333533;
  padding: 0.3rem 0.6rem;
  font-weight: 400;
  border-radius: 7px;
  margin-top: 10px;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: rgb(196, 204, 201);
  background-color: #333533;
  color: white;
}
