.contain textarea {
  width: 100%;
  min-height: 120px;
  border-radius: 7px;
  box-shadow: 2px 2px 4px 0px #00000040 inset;
  padding: 5px 10px;
  color: #333533;
  font-size: 18px;
  box-sizing: border-box;
}

.btnWrapper {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}

.btnWrapper button {
  font-size: 18px;
}

.spinnerContain {
  display: flex;
  justify-content: center;
}

.spinner {
  color: #333533;
  height: 90px;
}
