* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: white;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerRight {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  transform: scale(1.1);
}
