.editor {
  width: 70%;
  margin: 2% auto;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7fa;
  /* background-color: #eaeded; */
}

.spinner-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
